/* line 1, ../sass/_base.scss */
html {
  background: #03797F;
  margin: 15px;
}

/* line 7, ../sass/_base.scss */
.row {
  max-width: 100%;
}

/* line 11, ../sass/_base.scss */
.answer-box {
  margin-top: 15px;
}

/* line 15, ../sass/_base.scss */
.ask, .answer {
  margin-top: 30px;
  width: 100%;
}

/* line 20, ../sass/_base.scss */
.answer {
  float: below;
  height: 100%;
  display: none;
}

/* line 26, ../sass/_base.scss */
.ask {
  float: left;
  z-index: 1;
}

/* line 31, ../sass/_base.scss */
.answer {
  z-index: 2;
  position: absolute;
  right: -100%;
  background: #f90;
  color: #000;
}

/* line 39, ../sass/_base.scss */
.clear {
  clear: both;
}

/*
.nav-bar {
	display: flex;
}
*/
/* line 7, ../sass/_header.scss */
.nav-box {
  display: inline-block;
}

/* line 1, ../sass/_answer.scss */
.select-answer-btns {
  display: flex;
  justify-content: space-between;
}
/* line 5, ../sass/_answer.scss */
.select-answer-btns button {
  width: 30%;
}

/* line 10, ../sass/_answer.scss */
.answers {
  display: flex;
  justify-content: space-between;
}
/* line 14, ../sass/_answer.scss */
.answers p {
  width: 30%;
}
/* line 18, ../sass/_answer.scss */
.answers .unselected-answer {
  background-color: grey;
}
