.select-answer-btns {
	display: flex;
	justify-content: space-between;

	button {
		width: 30%;
	}
}

.answers {
	display: flex;
	justify-content: space-between;

	p {
		width: 30%;
	}

	.unselected-answer {
		background-color: grey;
	}
}