html {
    background: #03797F;
    margin: 15px;
}


.row {
    max-width: 100%;
}

.answer-box {
    margin-top: 15px;
}

.ask, .answer {
    margin-top: 30px;
    width: 100%;
}

.answer {
    float: below;
    height: 100%;
    display: none;
}

.ask {
    float: left;
    z-index: 1;
}

.answer {
    z-index: 2;
    position: absolute;
    right: -100%;
    background: #f90;
    color: #000;
}

.clear {
    clear:both;
}
